/* Your CSS here. */
.content {
  max-width: 500px;
  margin: auto;
}

.center {
  text-align: center;
}

body {
  background-color: lightblue;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}
