.card {
  background-color: lightblue;
  width: 750px;
  height: 425px;
  margin: auto;
  text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}
